<main class="main">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <mat-card class="form-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon class="icon">monetization_on</mat-icon></div>
            <mat-card-title>Coins</mat-card-title>
            <mat-card-subtitle>Create</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="form-container">
              <mat-form-field>
                <input matInput placeholder="Coin Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Coin Price">
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="spacer"></div>
            <button mat-button color="accent">Add</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</main>
